In [3]:
print("Hello World");

Hello World

In [4]:
word = 'python';

In [5]:
word[0];

In [6]:
word[2]

't'

In [7]:
word[0];

In [8]:
word[0]

'p'

In [9]:
word[0];

In [10]:
word[2];

In [1]:
list = [1,2,3,5,5]

In [2]:
print(list)

[1, 2, 3, 5, 5]

In [3]:
print(list);

[1, 2, 3, 5, 5]

In [4]:
list

[1, 2, 3, 5, 5]

In [5]:
list[0]

1

In [6]:
list[1];

In [7]:
list[1];

In [8]:
list[-1]

5

In [9]:
list[-3]

3

In [10]:
list[-3:]

[3, 5, 5]

In [11]:
list + [7,8,9,0]

[1, 2, 3, 5, 5, 7, 8, 9, 0]

In [12]:
list[2] = 56

In [13]:
list

[1, 2, 56, 5, 5]

In [14]:
list = list + [56,34,89,23]

In [15]:
list

[1, 2, 56, 5, 5, 56, 34, 89, 23]

In [16]:
list.append(1234)

In [17]:
list[1:3] = []

In [18]:
list

[1, 5, 5, 56, 34, 89, 23, 1234]

In [19]:
list[1:5]

[5, 5, 56, 34]

In [20]:
list[1:5] = []

In [21]:
list

[1, 89, 23, 1234]

In [22]:
len(list)

4

In [23]:
a,b = 0,1
while a < 10:
    print(a)
    a,b = b, a + b

0
1
1
2
3
5
8

In [24]:
list[0][1]

TypeError: 'int' object is not subscriptable

In [33]:
a,b = 0,1
for i in range(a,10):
    print(a)
    a, b = b, a + b

0
1
1
2
3
5
8
13
21
34

In [31]:
a, b = 0,1
while a < 1000:
    print(a, end = ',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

In [39]:
a, b = 0,1
while a < 1000:
    print(a, end = ',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

In [40]:
n = int(input("Enter the value: "))
if n < 0:
    print("Negative changed to 0")
if n > 0:
    print("Positive NO")
if n == 0:
    print("Zero")

Enter the value: 6767
Positive NO

In [41]:
list = ['harsh','rajan','raghav']
for i in list:
    print(i, len(i))

harsh 5
rajan 5
raghav 6

In [47]:
for n in range(2, 10):
         for x in range(2, n):
           if n % x == 0:
                 print(n, 'equals', x, '*', n//x)
                 break
         else:
          # loop fell through without finding a factor
             print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [46]:
for num in range(2, 10):
        if num % 2 == 0:
             print("Found an even number", num)
             continue
        print("Found a number", num)

Found an even number 2
Found a number 3
Found an even number 4
Found a number 5
Found an even number 6
Found a number 7
Found an even number 8
Found a number 9

In [51]:
for n in range(5):
    for i in range(n):
        print(n, end = " ")
    
    print("\n")

1

2 2

3 3 3

4 4 4 4

In [1]:
a = 5
for i in range(1,a):
    for j in range(1, i + 1):
        print(j, end = " ")
    
    print("\n")

1

1 2

1 2 3

1 2 3 4

In [5]:
def fib(n):
    a,b = 0,1
    while a < n:
        print(a, end = ' ')
        a, b = b, a + b
    print()
fib(2000);

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [8]:
def fib(n):
    result = []
    a,b = 0,1
    while a < n:
        result.append(a)
        a, b = b, a + b
    return result
fibresult = fib(2000);
fibresult

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597]

In [12]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)
ask_ok('Do you want to quit?')

Do you want to quit?ghgjhgj
Please try again!
Do you want to quit?no

False

In [17]:
def increament(n):
    return lambda x: x + n
f = increament(42);
f(2)

44

In [24]:
'Harsh'[::-1]

'hsraH'

In [25]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [26]:
fruits.count('apple')

2

In [27]:
fruits.index('pear')

2

In [30]:
fruits.append('mango')

In [31]:
fruits

['orange',
 'apple',
 'pear',
 'banana',
 'kiwi',
 'apple',
 'banana',
 'mango',
 'mango',
 'mango']

In [32]:
fruits.reverse()

In [33]:
fruits

['mango',
 'mango',
 'mango',
 'banana',
 'apple',
 'kiwi',
 'banana',
 'pear',
 'apple',
 'orange']

In [38]:
fruits.sort()
fruits

['apple',
 'apple',
 'banana',
 'banana',
 'kiwi',
 'mango',
 'mango',
 'mango',
 'orange']

In [37]:
fruits.pop()

'pear'

In [39]:
fruits.pop()

'orange'

In [40]:
squares = []
for x in range(10):
    squares.append(x**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
squares = []
for x in range(10):
    squares.append(x**2)
squares = list(map(lambda x: x**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [43]:
import math

In [45]:
from math import pi
print(pi)

3.141592653589793

In [46]:
import sys

In [47]:
sys.path

['C:\\Users\\HP\\Desktop',
 'G:\\Anaconda\\Anaconda Installation\\python37.zip',
 'G:\\Anaconda\\Anaconda Installation\\DLLs',
 'G:\\Anaconda\\Anaconda Installation\\lib',
 'G:\\Anaconda\\Anaconda Installation',
 '',
 'G:\\Anaconda\\Anaconda Installation\\lib\\site-packages',
 'G:\\Anaconda\\Anaconda Installation\\lib\\site-packages\\win32',
 'G:\\Anaconda\\Anaconda Installation\\lib\\site-packages\\win32\\lib',
 'G:\\Anaconda\\Anaconda Installation\\lib\\site-packages\\Pythonwin',
 'G:\\Anaconda\\Anaconda Installation\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\HP\\.ipython']

In [1]:
open('G:\Python\testpython\bubble.py')

OSError: [Errno 22] Invalid argument: 'G:\\Python\testpython\x08ubble.py'

In [5]:
year = 2016
event = 'HarshoMahotsav'
f'Results of the {year} {event}'

'Results of the 2016 HarshoMahotsav'

In [6]:
yes_votes = 42_572_654
no_votes = 43_132_495
percentage = yes_votes / (yes_votes + no_votes)
'{:-9} YES votes  {:2.2%}'.format(yes_votes, percentage)

' 42572654 YES votes  49.67%'

In [7]:
s = 'Harsh'

In [8]:
str(s)

'Harsh'

In [9]:
repr(s)

"'Harsh'"

In [10]:
x = 10 * 3.25
y = 200 * 200
s = 'The value of x is ' + repr(x) + ', and y is ' + repr(y) + '...'
print(s)

The value of x is 32.5, and y is 40000...

In [11]:
hello = 'hello, world\n'
hellos = repr(hello)
print(hellos)

'hello, world\n'

In [12]:
repr((x, y, ('spam', 'eggs')))

"(32.5, 40000, ('spam', 'eggs'))"

In [15]:
import math
print(f'pi value {math.pi:.3f}.')

pi value 3.142.

In [22]:
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 7678}
for name, phone in table.items():
    print(f'{name:10} ==> {phone:10d}')

Sjoerd     ==>       4127
Jack       ==>       4098
Dcab       ==>       7678

In [17]:
print('We are the {} who say "{}!"'.format('knights', 'Ni'))

We are the knights who say "Ni!"

In [19]:
print('{0} and {1}'.format('cakes','eggs'))

cakes and eggs

In [23]:
print('This {food} is {adjective}.'.format(food='spam', adjective='absolutely horrible'))

This spam is absolutely horrible.

In [25]:
print('The story of {0}, {1}, and {other}.'.format('Bill', 'Manfred',other='Georg'))

The story of Bill, Manfred, and Georg.

In [27]:
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 8637678}
print('Jack: {0[Jack]:d}; Sjoerd: {0[Sjoerd]:d}; ''Dcab: {0[Dcab]:d}'.format(table))

Jack: 4098; Sjoerd: 4127; Dcab: 8637678

In [28]:
for x in range(1, 11):
    print('{0:2d} {1:3d} {2:4d}'.format(x, x*x, x*x*x))

 1   1    1
 2   4    8
 3   9   27
 4  16   64
 5  25  125
 6  36  216
 7  49  343
 8  64  512
 9  81  729
10 100 1000

In [29]:
for x in range(1, 11):
    print(repr(x).rjust(2), repr(x*x).rjust(3), end=' ')
    #Note use of 'end' on previous line
    print(repr(x*x*x).rjust(4))

 1   1    1
 2   4    8
 3   9   27
 4  16   64
 5  25  125
 6  36  216
 7  49  343
 8  64  512
 9  81  729
10 100 1000

In [30]:
with open("student.txt",'w', encoding = 'utf-8') as f:
    f.write("Name\t Marks1\t Marks2\t Marks3\t Total\n")
    f.write("Raj\t 35\t 40\t 40\n")
    f.write("Raman\t 50\t 55\t 34\n")
    f.write("Raghav\t 45\t 23\t 67\n")

In [1]:
f = open("student.txt","r")
print(f.read())

Name	 Marks1	 Marks2	 Marks3	 Total
Raj	 35	 40	 40
Raman	 50	 55	 34
Raghav	 45	 23	 67

In [48]:
f = open("student.txt","r")
print(f.readline(2))

Na

In [7]:
import numpy as np
a = np.array([2,3,4])
print(a.dtype)

int32

In [10]:
b = np.array((1.2,3.5,5.1))
b

array([1.2, 3.5, 5.1])

In [12]:
arr1 = np.array([[4, 7], [2, 6]], dtype = np.float64)
arr2 = np.array([[3, 6], [2, 8]], dtype = np.float64) 
Sum = np.add(arr1, arr2)
print("Addition of two arrays: ")
print(Sum)

Addition of two arrays:
[[ 7. 13.]
 [ 4. 14.]]

In [13]:
Trans_arr = arr1.T
print("\nTranspose of Array: ")
print(Trans_arr)

Transpose of Array:
[[4. 2.]
 [7. 6.]]

In [15]:
f = np.arange(0, 30, 5) 
print("\n A sequential array with 10 values between" "0 and 5:\n", f)

 A sequential array with 10 values between0 and 5:
 [ 0  5 10 15 20 25]

In [19]:
 ar = numpy.random.rand(2,3)

NameError: name 'numpy' is not defined

In [1]:
#pandas, there are several ways to create a dataframe, one way is to use a dictionary. for eg
dict = {"country" : ["Brazil","America","Russia","India","China"],
        "capital" : ["Moscow","New Dehli","Beijing","Pretoria","Brasilia"],
        "area" : [8.516, 17.10, 3.286, 9.597, 1.221],
        "population" : [200.4, 143.5, 1252, 1357, 52.98]
       }
import pandas as pd
brics = pd.DataFrame(dict)
print(brics)

   country    capital    area  population
0   Brazil     Moscow   8.516      200.40
1  America  New Dehli  17.100      143.50
2   Russia    Beijing   3.286     1252.00
3    India   Pretoria   9.597     1357.00
4    China   Brasilia   1.221       52.98

In [2]:
#Setting the vrics for brics
brics.index = ["BR","AM","RU","IN","CH"]
print(brics)

    country    capital    area  population
BR   Brazil     Moscow   8.516      200.40
AM  America  New Dehli  17.100      143.50
RU   Russia    Beijing   3.286     1252.00
IN    India   Pretoria   9.597     1357.00
CH    China   Brasilia   1.221       52.98

In [10]:
#Another way to create a Dataframe is by importing a csv file using pandas. 
import pandas as pd
cars = pd.read_csv('cars.csv')
print(cars)

  Unnamed: 0  cars_per_cap        country  drives_right
0         US          8909  United_States          True
1        AUS           731      Australia         False
2        JAP           588          Japan         False
3         IN           234          India         False
4         RU           342         Russia          True

In [16]:
#Indexing DataFrames, There are several ways to index a Pandas DataFrame. One of the easiest ways to do this is by using square bracket notation.
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

#Printing out country column as Pandas Series
print(cars['cars_per_cap'])

#Printing out country column as Pandas DataFrame
print(cars[['cars_per_cap']])

#Printing out DataFrame with country and drives_right columns
print(cars[['cars_per_cap','country']])

Unnamed: 0
US     8909
AUS     731
JAP     588
IN      234
RU      342
Name: cars_per_cap, dtype: int64
            cars_per_cap
Unnamed: 0
US                  8909
AUS                  731
JAP                  588
IN                   234
RU                   342
            cars_per_cap        country
Unnamed: 0
US                  8909  United_States
AUS                  731      Australia
JAP                  588          Japan
IN                   234          India
RU                   342         Russia

In [18]:
#Square brackets can also be used to access observations (rows) from a DataFrame. For example
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

#printing out first 4 data
print(cars[0:4])

# Print out fifth, sixth, and seventh observation
print(cars[4:6])

            cars_per_cap        country  drives_right
Unnamed: 0
US                  8909  United_States          True
AUS                  731      Australia         False
JAP                  588          Japan         False
IN                   234          India         False
            cars_per_cap country  drives_right
Unnamed: 0
RU                   342  Russia          True

In [19]:
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

#loc and iloc
#loc = loc is label-based, which means that you have to specify rows and columns based on their row and column labels.
print(cars.loc[['AUS', 'EG']])

#iloc =  iloc is integer index based, so you have to specify rows and columns by their integer index
print(cars.iloc[2])

G:\Anaconda\Anaconda Installation\lib\site-packages\ipykernel_launcher.py:6: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

            cars_per_cap    country drives_right
Unnamed: 0
AUS                731.0  Australia        False
EG                   NaN        NaN          NaN
cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object

In [21]:
import pandas as pd
cars = pd.read_csv('cars.csv')
cars.head(2)

  Unnamed: 0  cars_per_cap        country  drives_right
0         US          8909  United_States          True
1        AUS           731      Australia         False

In [22]:
cars.tail(2)

  Unnamed: 0  cars_per_cap country  drives_right
3         IN           234   India         False
4         RU           342  Russia          True

In [23]:
cars.index

RangeIndex(start=0, stop=5, step=1)

In [25]:
cars.columns

Index(['Unnamed: 0', 'cars_per_cap', 'country', 'drives_right'], dtype='object')

In [ ]:
cars

In [ ]:
print(cars)

In [ ]:
import pandas as pd
cars = pd.read_csv('cars.csv')
cars.head(2)

In [ ]:
cars.index

In [14]:
import pandas as pd

df = pd.read_excel('F:\DA\Harsh\DRC_Raw_Data 2012-13.xlsx')
df.head(30)

,District-Name,Total Schools - Government,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Total Schools - Private,Unnamed: 9,...,Unnamed: 122,Unnamed: 123,Unnamed: 124,Number of Schools with Computer,Unnamed: 126,Unnamed: 127,Unnamed: 128,Unnamed: 129,Unnamed: 130,Unnamed: 131
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Primary,Primary with Upper primary,Primary with Upper Primary sec and higher sec.,Upper Primary Only,Upper Primary with sec. and higher sec.,Primary with Upper primary and secondary,Upper Primary with secondary,Primary,Primary with Upper primary,...,Upper Primary with sec./higher sec.,Primary with Upper primary and secondary,Upper Primary with secondary,Primary,Primary with Upper primary,Primary with Upper Primary sec/higher sec.,Upper Primary Only,Upper Primary with sec./higher sec.,Primary with Upper primary and secondary,Upper Primary with secondary
2,NaN,schgovt1,schgovt2,schgovt3,schgovt4,schgovt5,schgovt6,schgovt7,schpvt1,schpvt2,...,Electric Sch5,Electric Sch6,Electric Sch7,Computer Sch1,Computer Sch2,Computer Sch3,Computer Sch4,Computer Sch5,Computer Sch6,Computer Sch7
3,AHMADABAD ...,192,1055,5,140,0,1,1,85,1045,...,7,38,9,111,1835,111,149,4,33,4
4,AMRELI ...,47,756,1,0,0,0,1,22,151,...,2,21,2,35,856,25,3,2,21,2
5,ANAND ...,374,685,2,3,2,0,1,63,108,...,10,9,3,94,761,37,43,5,10,3
6,BANAS KANTHA ...,1026,1337,1,2,4,3,11,45,139,...,13,24,15,250,1389,31,13,13,20,13
7,BHARUCH ...,246,681,3,18,2,0,3,26,83,...,8,48,5,82,705,87,13,8,48,4
8,BHAVNAGAR ...,101,1077,2,15,1,0,1,26,187,...,5,27,5,43,1173,89,15,5,23,4
9,DOHAD ...,805,911,6,1,1,0,2,29,79,...,3,1,4,200,715,7,4,1,1,2
10,GANDHINAGAR ...,110,527,4,0,1,0,3,24,143,...,13,20,5,62,645,70,18,7,19,4
11,JAMNAGAR ...,155,1278,7,0,4,2,4,29,215,...,8,62,2,38,1195,62,4,7,56,1
12,JUNAGADH ...,169,1163,1,3,1,16,2,65,556,...,2,75,3,65,1553,63,8,2,71,1
13,KACHCHH ...,155,1552,5,0,1,0,0,42,161,...,5,31,0,58,1288,44,5,5,30,0
14,KHEDA ...,696,1014,0,1,1,1,0,43,137,...,11,8,1,117,1119,13,13,9,8,1
15,MAHESANA ...,177,833,1,0,1,0,0,31,127,...,11,21,4,114,908,38,13,8,21,2
16,NARMADA ...,294,441,0,1,0,1,0,9,22,...,1,4,2,35,347,3,3,1,4,1
17,NAVSARI ...,273,488,0,3,3,0,5,16,85,...,4,4,7,107,560,20,4,3,4,6
18,PANCH MAHALS ...,1136,1281,0,6,2,0,4,44,94,...,14,10,14,151,1290,33,7,9,10,11
19,PATAN ...,157,674,0,2,1,0,4,15,71,...,7,2,9,82,656,7,9,4,2,3
20,PORBANDAR ...,43,291,2,0,1,0,1,18,76,...,4,8,1,13,312,17,1,3,8,1
21,RAJKOT ...,59,1382,2,0,1,1,0,74,761,...,6,56,5,69,1952,101,6,6,52,4
22,SABAR KANTHA ...,971,1568,1,2,3,6,2,66,123,...,45,42,16,217,1602,62,12,37,37,11
23,SURAT ...,571,788,5,2,0,0,1,49,287,...,10,76,15,253,1009,397,6,9,73,7
24,SURENDRANAGAR ...,112,885,2,19,1,0,0,28,140,...,4,15,3,48,983,34,25,4,15,1
25,TAPI ...,482,378,0,0,2,0,0,11,14,...,6,5,12,103,374,3,2,6,5,8
26,THE DANGS ...,258,141,1,1,0,0,5,6,12,...,0,0,5,37,136,0,1,0,0,3
27,VADODARA ...,1373,1093,0,7,5,2,21,38,213,...,9,80,28,186,1057,188,11,7,76,25
28,VALSAD ...,461,584,0,1,0,1,3,18,83,...,3,18,5,45,591,51,2,3,18,5

In [4]:
import pandas as pd

df = pd.read_excel('F:\DA\Takshil\DRC_Raw_Data 2011-12.xlsx', delimiter = '\t')
print(df)

                                        District Name  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3   AHMADABAD                                     ...
4   AMRELI                                        ...
5   ANAND                                         ...
6   BANAS KANTHA                                  ...
7   BHARUCH                                       ...
8   BHAVNAGAR                                     ...
9   DOHAD                                         ...
10  GANDHINAGAR                                   ...
11  JAMNAGAR                                      ...
12  JUNAGADH                                      ...
13  KACHCHH                                       ...
14  KHEDA                                         ...
15  MAHESANA                                      ...
16  NARMADA                                       ...
17  NAVSARI                                       ...
18  PANCH MAHALS                                  ...
19  PATAN                                         ...
20  PORBANDAR                                     ...
21  RAJKOT                                        ...
22  SABAR KANTHA                                  ...
23  SURAT                                         ...
24  SURENDRANAGAR                                 ...
25  TAPI                                          ...
26  THE DANGS                                     ...
27  VADODARA                                      ...
28  VALSAD                                        ...

   Total Schools - Government                  Unnamed: 2  \
0                         NaN                         NaN
1                     Primary  Primary with Upper primary
2                    Schgovt1                    Schgovt2
3                         197                        1173
4                          48                         754
5                         353                         710
6                         981                        1366
7                         240                         696
8                         105                        1082
9                         808                         858
10                        104                         539
11                        155                        1271
12                        170                        1180
13                        165                        1534
14                        691                        1017
15                        140                         869
16                        264                         473
17                        272                         490
18                       1150                        1271
19                        158                         673
20                         34                         295
21                         58                        1380
22                        942                        1598
23                        568                         780
24                         99                         911
25                        481                         382
26                        259                         140
27                       1352                        1105
28                        470                         575

                                    Unnamed: 3          Unnamed: 4  \
0                                          NaN                 NaN
1   Primary with Upper Primary sec/higher sec.  Upper Primary Only
2                                     Schgovt3            Schgovt4
3                                            0                  27
4                                            0                   1
5                                            0                   0
6                                            0                   4
7                                            0                  13
8                                            0                  10
9                                            0                   4
10                                           0                   0
11                                           0                   0
12                                           0                   4
13                                           5                   0
14                                           0                   2
15                                           0                   0
16                                           0                   0
17                                           0                   3
18                                           0                   7
19                                           0                   3
20                                           0                   1
21                                           0                   1
22                                           1                   3
23                                           0                   3
24                                           0                   3
25                                           0                   3
26                                           0                   1
27                                           0                   6
28                                           0                   3

                             Unnamed: 5 Total Schools - Private  \
0                                   NaN                     NaN
1   Upper Primary with sec./higher sec.                 Primary
2                              Schgovt5                 Schpvt1
3                                     0                      47
4                                     0                      21
5                                     0                      62
6                                     0                      38
7                                     0                      29
8                                     0                      28
9                                     0                      21
10                                    0                      21
11                                    0                      24
12                                    0                      80
13                                    1                      36
14                                    0                      47
15                                    0                      26
16                                    0                       3
17                                    0                      17
18                                    0                      53
19                                    0                      14
20                                    0                      19
21                                    0                      42
22                                    1                      83
23                                    0                      51
24                                    0                      17
25                                    0                      10
26                                    0                       7
27                                    0                      26
28                                    0                      19

                    Unnamed: 7                                  Unnamed: 8  \
0                          NaN                                         NaN
1   Primary with Upper primary  Primary with Upper Primary sec/higher sec.
2                      Schpvt2                                     Schpvt3
3                          982                                           0
4                          184                                           0
5                          145                                          22
6                          187                                           0
7                          204                                           0
8                          251                                           0
9                           98                                           0
10                         184                                           0
11                         196                                           1
12                         649                                           0
13                         173                                          30
14                         175                                           0
15                         169                                           0
16                          25                                           0
17                          95                                           0
18                         110                                           0
19                          64                                           0
20                          89                                           0
21                         719                                           0
22                         188                                          84
23                         630                                           0
24                         156                                           0
25                          19                                           0
26                          11                                           0
27                         419                                           0
28                         133                                           0

            Unnamed: 9  ... Number of Schools with Electricity   \
0                  NaN  ...                                 NaN
1   Upper Primary Only  ...                             Primary
2              Schpvt4  ...                       Electric Sch1
3                   13  ...                                 240
4                    3  ...                                  66
5                   30  ...                                 415
6                    4  ...                                 969
7                    0  ...                                 261
8                    2  ...                                 133
9                    0  ...                                 753
10                  28  ...                                 125
11                   6  ...                                 176
12                  12  ...                                 237
13                   6  ...                                 186
14                   3  ...                                 735
15                  26  ...                                 166
16                   4  ...                                 267
17                   9  ...                                 289
18                  22  ...                                1193
19                   5  ...                                 172
20                   0  ...                                  47
21                   2  ...                                  88
22                   1  ...                                1019
23                   7  ...                                 615
24                   3  ...                                 103
25                   1  ...                                 484
26                   0  ...                                 264
27                   4  ...                                1368
28                  11  ...                                 465

                   Unnamed: 94                                 Unnamed: 95  \
0                          NaN                                         NaN
1   Primary with Upper primary  Primary with Upper Primary sec/higher sec.
2                Electric Sch2                               Electric Sch3
3                         2143                                           0
4                          930                                           0
5                          854                                          22
6                         1546                                           0
7                          895                                           0
8                         1325                                           0
9                          926                                           0
10                         723                                           0
11                        1452                                           1
12                        1814                                           0
13                        1688                                          35
14                        1192                                           0
15                        1036                                           0
16                         496                                           0
17                         585                                           0
18                        1377                                           0
19                         737                                           0
20                         381                                           0
21                        2085                                           0
22                        1784                                          85
23                        1409                                           0
24                        1059                                           0
25                         392                                           0
26                         150                                           0
27                        1520                                           0
28                         702                                           0

           Unnamed: 96                          Unnamed: 97  \
0                  NaN                                  NaN
1   Upper Primary Only  Upper Primary with sec./higher sec.
2        Electric Sch4                        Electric Sch5
3                   40                                    0
4                    4                                    0
5                   30                                    3
6                    8                                    0
7                   12                                    0
8                   12                                    0
9                    4                                    0
10                  28                                    0
11                   6                                    0
12                  16                                    0
13                   6                                    3
14                   4                                    0
15                  26                                    0
16                   4                                    0
17                  12                                    0
18                  29                                    0
19                   8                                    0
20                   1                                    0
21                   3                                    0
22                   4                                    5
23                  10                                    0
24                   6                                    0
25                   4                                    0
26                   1                                    0
27                  10                                    0
28                  14                                    0

   Number of Schools with Computer                  Unnamed: 99  \
0                               NaN                         NaN
1                           Primary  Primary with Upper primary
2                     Computer Sch1               Computer Sch2
3                                82                        1698
4                                28                         585
5                                87                         571
6                               216                        1192
7                                73                         502
8                                31                         890
9                               136                         678
10                               49                         608
11                               36                         986
12                               71                        1256
13                               43                        1259
14                              107                        1143
15                               70                         964
16                               15                         149
17                               87                         570
18                              150                        1307
19                               52                         634
20                               11                         198
21                               39                        1877
22                              190                         817
23                              193                        1343
24                               27                        1040
25                               31                         376
26                               41                         133
27                              146                         773
28                               47                         638

                                  Unnamed: 100        Unnamed: 101  \
0                                          NaN                 NaN
1   Primary with Upper Primary sec/higher sec.  Upper Primary Only
2                                Computer Sch3       Computer Sch4
3                                            0                  28
4                                            0                   3
5                                           16                  24
6                                            0                   6
7                                            0                   4
8                                            0                   8
9                                            0                   3
10                                           0                  18
11                                           0                   5
12                                           0                  10
13                                          30                   4
14                                           0                   3
15                                           0                  13
16                                           0                   2
17                                           0                   8
18                                           0                  16
19                                           0                   6
20                                           0                   1
21                                           0                   3
22                                          62                   3
23                                           0                   9
24                                           0                   6
25                                           0                   3
26                                           0                   1
27                                           0                   7
28                                           0                  13

                           Unnamed: 102
0                                   NaN
1   Upper Primary with sec./higher sec.
2                         Computer Sch5
3                                     0
4                                     0
5                                     3
6                                     0
7                                     0
8                                     0
9                                     0
10                                    0
11                                    0

In [6]:
data  = input("Enter the year of data you want ( for eg: 2011-2012): ")
print(da

Enter the year of data you want ( for eg: 2011-2012): 2011-2012
2011-2012

In [8]:
import pandas as pd

df = pd.read_excel('F:\DA\Takshil\DRC_Raw_Data 2011-12.xlsx', inplace = True)
print(df)

                                        District Name  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3   AHMADABAD                                     ...
4   AMRELI                                        ...
5   ANAND                                         ...
6   BANAS KANTHA                                  ...
7   BHARUCH                                       ...
8   BHAVNAGAR                                     ...
9   DOHAD                                         ...
10  GANDHINAGAR                                   ...
11  JAMNAGAR                                      ...
12  JUNAGADH                                      ...
13  KACHCHH                                       ...
14  KHEDA                                         ...
15  MAHESANA                                      ...
16  NARMADA                                       ...
17  NAVSARI                                       ...
18  PANCH MAHALS                                  ...
19  PATAN                                         ...
20  PORBANDAR                                     ...
21  RAJKOT                                        ...
22  SABAR KANTHA                                  ...
23  SURAT                                         ...
24  SURENDRANAGAR                                 ...
25  TAPI                                          ...
26  THE DANGS                                     ...
27  VADODARA                                      ...
28  VALSAD                                        ...

   Total Schools - Government                  Unnamed: 2  \
0                         NaN                         NaN
1                     Primary  Primary with Upper primary
2                    Schgovt1                    Schgovt2
3                         197                        1173
4                          48                         754
5                         353                         710
6                         981                        1366
7                         240                         696
8                         105                        1082
9                         808                         858
10                        104                         539
11                        155                        1271
12                        170                        1180
13                        165                        1534
14                        691                        1017
15                        140                         869
16                        264                         473
17                        272                         490
18                       1150                        1271
19                        158                         673
20                         34                         295
21                         58                        1380
22                        942                        1598
23                        568                         780
24                         99                         911
25                        481                         382
26                        259                         140
27                       1352                        1105
28                        470                         575

                                    Unnamed: 3          Unnamed: 4  \
0                                          NaN                 NaN
1   Primary with Upper Primary sec/higher sec.  Upper Primary Only
2                                     Schgovt3            Schgovt4
3                                            0                  27
4                                            0                   1
5                                            0                   0
6                                            0                   4
7                                            0                  13
8                                            0                  10
9                                            0                   4
10                                           0                   0
11                                           0                   0
12                                           0                   4
13                                           5                   0
14                                           0                   2
15                                           0                   0
16                                           0                   0
17                                           0                   3
18                                           0                   7
19                                           0                   3
20                                           0                   1
21                                           0                   1
22                                           1                   3
23                                           0                   3
24                                           0                   3
25                                           0                   3
26                                           0                   1
27                                           0                   6
28                                           0                   3

                             Unnamed: 5 Total Schools - Private  \
0                                   NaN                     NaN
1   Upper Primary with sec./higher sec.                 Primary
2                              Schgovt5                 Schpvt1
3                                     0                      47
4                                     0                      21
5                                     0                      62
6                                     0                      38
7                                     0                      29
8                                     0                      28
9                                     0                      21
10                                    0                      21
11                                    0                      24
12                                    0                      80
13                                    1                      36
14                                    0                      47
15                                    0                      26
16                                    0                       3
17                                    0                      17
18                                    0                      53
19                                    0                      14
20                                    0                      19
21                                    0                      42
22                                    1                      83
23                                    0                      51
24                                    0                      17
25                                    0                      10
26                                    0                       7
27                                    0                      26
28                                    0                      19

                    Unnamed: 7                                  Unnamed: 8  \
0                          NaN                                         NaN
1   Primary with Upper primary  Primary with Upper Primary sec/higher sec.
2                      Schpvt2                                     Schpvt3
3                          982                                           0
4                          184                                           0
5                          145                                          22
6                          187                                           0
7                          204                                           0
8                          251                                           0
9                           98                                           0
10                         184                                           0
11                         196                                           1
12                         649                                           0
13                         173                                          30
14                         175                                           0
15                         169                                           0
16                          25                                           0
17                          95                                           0
18                         110                                           0
19                          64                                           0
20                          89                                           0
21                         719                                           0
22                         188                                          84
23                         630                                           0
24                         156                                           0
25                          19                                           0
26                          11                                           0
27                         419                                           0
28                         133                                           0

            Unnamed: 9  ... Number of Schools with Electricity   \
0                  NaN  ...                                 NaN
1   Upper Primary Only  ...                             Primary
2              Schpvt4  ...                       Electric Sch1
3                   13  ...                                 240
4                    3  ...                                  66
5                   30  ...                                 415
6                    4  ...                                 969
7                    0  ...                                 261
8                    2  ...                                 133
9                    0  ...                                 753
10                  28  ...                                 125
11                   6  ...                                 176
12                  12  ...                                 237
13                   6  ...                                 186
14                   3  ...                                 735
15                  26  ...                                 166
16                   4  ...                                 267
17                   9  ...                                 289
18                  22  ...                                1193
19                   5  ...                                 172
20                   0  ...                                  47
21                   2  ...                                  88
22                   1  ...                                1019
23                   7  ...                                 615
24                   3  ...                                 103
25                   1  ...                                 484
26                   0  ...                                 264
27                   4  ...                                1368
28                  11  ...                                 465

                   Unnamed: 94                                 Unnamed: 95  \
0                          NaN                                         NaN
1   Primary with Upper primary  Primary with Upper Primary sec/higher sec.
2                Electric Sch2                               Electric Sch3
3                         2143                                           0
4                          930                                           0
5                          854                                          22
6                         1546                                           0
7                          895                                           0
8                         1325                                           0
9                          926                                           0
10                         723                                           0
11                        1452                                           1
12                        1814                                           0
13                        1688                                          35
14                        1192                                           0
15                        1036                                           0
16                         496                                           0
17                         585                                           0
18                        1377                                           0
19                         737                                           0
20                         381                                           0
21                        2085                                           0
22                        1784                                          85
23                        1409                                           0
24                        1059                                           0
25                         392                                           0
26                         150                                           0
27                        1520                                           0
28                         702                                           0

           Unnamed: 96                          Unnamed: 97  \
0                  NaN                                  NaN
1   Upper Primary Only  Upper Primary with sec./higher sec.
2        Electric Sch4                        Electric Sch5
3                   40                                    0
4                    4                                    0
5                   30                                    3
6                    8                                    0
7                   12                                    0
8                   12                                    0
9                    4                                    0
10                  28                                    0
11                   6                                    0
12                  16                                    0
13                   6                                    3
14                   4                                    0
15                  26                                    0
16                   4                                    0
17                  12                                    0
18                  29                                    0
19                   8                                    0
20                   1                                    0
21                   3                                    0
22                   4                                    5
23                  10                                    0
24                   6                                    0
25                   4                                    0
26                   1                                    0
27                  10                                    0
28                  14                                    0

   Number of Schools with Computer                  Unnamed: 99  \
0                               NaN                         NaN
1                           Primary  Primary with Upper primary
2                     Computer Sch1               Computer Sch2
3                                82                        1698
4                                28                         585
5                                87                         571
6                               216                        1192
7                                73                         502
8                                31                         890
9                               136                         678
10                               49                         608
11                               36                         986
12                               71                        1256
13                               43                        1259
14                              107                        1143
15                               70                         964
16                               15                         149
17                               87                         570
18                              150                        1307
19                               52                         634
20                               11                         198
21                               39                        1877
22                              190                         817
23                              193                        1343
24                               27                        1040
25                               31                         376
26                               41                         133
27                              146                         773
28                               47                         638

                                  Unnamed: 100        Unnamed: 101  \
0                                          NaN                 NaN
1   Primary with Upper Primary sec/higher sec.  Upper Primary Only
2                                Computer Sch3       Computer Sch4
3                                            0                  28
4                                            0                   3
5                                           16                  24
6                                            0                   6
7                                            0                   4
8                                            0                   8
9                                            0                   3
10                                           0                  18
11                                           0                   5
12                                           0                  10
13                                          30                   4
14                                           0                   3
15                                           0                  13
16                                           0                   2
17                                           0                   8
18                                           0                  16
19                                           0                   6
20                                           0                   1
21                                           0                   3
22                                          62                   3
23                                           0                   9
24                                           0                   6
25                                           0                   3
26                                           0                   1
27                                           0                   7
28                                           0                  13

                           Unnamed: 102
0                                   NaN
1   Upper Primary with sec./higher sec.
2                         Computer Sch5
3                                     0
4                                     0
5                                     3
6                                     0
7                                     0
8                                     0
9                                     0
10                                    0
11                                    0

In [16]:
#pandas, there are several ways to create a dataframe, one way is to use a dictionary. for eg
dict = {"country" : ["Brazil","America","Russia","India","China"],
        "capital" : ["Moscow","New Dehli","Beijing","Pretoria","Brasilia"],
        "area" : [8.516, 17.10, 3.286, 9.597, 1.221],
        "population" : [200.4, 143.5, 1252, 1357, 52.98]
       }
import pandas as pd
brics = pd.DataFrame(dict)
print(brics)

   country    capital    area  population
0   Brazil     Moscow   8.516      200.40
1  America  New Dehli  17.100      143.50
2   Russia    Beijing   3.286     1252.00
3    India   Pretoria   9.597     1357.00
4    China   Brasilia   1.221       52.98

In [19]:
import pandas as pd 
import numpy as np
import datetime 
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline 
df = pd.read_excel('F:\DA\Takshil\DRC_Raw_Data 2012-13.xlsx')
#d_f = pd.DataFrame({Basic-Data: BD, Enrollment: EN, Teachers: TC})
df.plot

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
df = pd.read_excel('2012-13')
df.plot()
plt.legend()
plt.show()
%matplotlib inline 
plt.plot(df)

FileNotFoundError: [Errno 2] No such file or directory: '2012-13'

In [9]:
import pandas as pd 
import matplotlib.pyplot as plt
df = pd.read_excel('F:\DA\Takshil\DRC_Raw_Data 2011-12 - Copy.xlsx')
df.plot()
plt.legend()
plt.show()
%matplotlib inline 
plt.plot(df)

FileNotFoundError: [Errno 2] No such file or directory: 'F:\\DA\\Takshil\\DRC_Raw_Data 2011-12 - Copy.xlsx'

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_excel('F:\Data Analytics\Harsh\DRC_Raw_Data 2012-13.xlsx')
plt.plot(df['Close'])

TypeError: Empty 'DataFrame': no numeric data to plot

In [6]:
import pandas as pd 
import matplotlib.pyplot as plt
df = pd.read_excel('F:\DA\Harsh\DRC_Raw_Data 2011-12 - Copy.xlsx')
df.plot()
plt.legend()
plt.show()
%matplotlib inline 
plt.plot(df)

FileNotFoundError: [Errno 2] No such file or directory: 'F:\\DA\\Harsh\\DRC_Raw_Data 2011-12 - Copy.xlsx'

In [ ]:
import pandas as pd

In [ ]:
from matplotlib import pyplot as plt