In [3]:
print("Hello World");

Hello World

In [4]:
word = 'python';

In [5]:
word[0];

In [6]:
word[2]

't'

In [7]:
word[0];

In [8]:
word[0]

'p'

In [9]:
word[0];

In [10]:
word[2];

In [1]:
list = [1,2,3,5,5]

In [2]:
print(list)

[1, 2, 3, 5, 5]

In [3]:
print(list);

[1, 2, 3, 5, 5]

In [4]:
list

[1, 2, 3, 5, 5]

In [5]:
list[0]

1

In [6]:
list[1];

In [7]:
list[1];

In [8]:
list[-1]

5

In [9]:
list[-3]

3

In [10]:
list[-3:]

[3, 5, 5]

In [11]:
list + [7,8,9,0]

[1, 2, 3, 5, 5, 7, 8, 9, 0]

In [12]:
list[2] = 56

In [13]:
list

[1, 2, 56, 5, 5]

In [14]:
list = list + [56,34,89,23]

In [15]:
list

[1, 2, 56, 5, 5, 56, 34, 89, 23]

In [16]:
list.append(1234)

In [17]:
list[1:3] = []

In [18]:
list

[1, 5, 5, 56, 34, 89, 23, 1234]

In [19]:
list[1:5]

[5, 5, 56, 34]

In [20]:
list[1:5] = []

In [21]:
list

[1, 89, 23, 1234]

In [22]:
len(list)

4

In [23]:
a,b = 0,1
while a < 10:
    print(a)
    a,b = b, a + b

0
1
1
2
3
5
8

In [24]:
list[0][1]

TypeError: 'int' object is not subscriptable

In [33]:
a,b = 0,1
for i in range(a,10):
    print(a)
    a, b = b, a + b

0
1
1
2
3
5
8
13
21
34

In [31]:
a, b = 0,1
while a < 1000:
    print(a, end = ',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

In [39]:
a, b = 0,1
while a < 1000:
    print(a, end = ',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

In [40]:
n = int(input("Enter the value: "))
if n < 0:
    print("Negative changed to 0")
if n > 0:
    print("Positive NO")
if n == 0:
    print("Zero")

Enter the value: 6767
Positive NO

In [41]:
list = ['harsh','rajan','raghav']
for i in list:
    print(i, len(i))

harsh 5
rajan 5
raghav 6

In [47]:
for n in range(2, 10):
         for x in range(2, n):
           if n % x == 0:
                 print(n, 'equals', x, '*', n//x)
                 break
         else:
          # loop fell through without finding a factor
             print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [46]:
for num in range(2, 10):
        if num % 2 == 0:
             print("Found an even number", num)
             continue
        print("Found a number", num)

Found an even number 2
Found a number 3
Found an even number 4
Found a number 5
Found an even number 6
Found a number 7
Found an even number 8
Found a number 9

In [51]:
for n in range(5):
    for i in range(n):
        print(n, end = " ")
    
    print("\n")

1

2 2

3 3 3

4 4 4 4

In [1]:
a = 5
for i in range(1,a):
    for j in range(1, i + 1):
        print(j, end = " ")
    
    print("\n")

1

1 2

1 2 3

1 2 3 4

In [5]:
def fib(n):
    a,b = 0,1
    while a < n:
        print(a, end = ' ')
        a, b = b, a + b
    print()
fib(2000);

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [8]:
def fib(n):
    result = []
    a,b = 0,1
    while a < n:
        result.append(a)
        a, b = b, a + b
    return result
fibresult = fib(2000);
fibresult

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597]

In [12]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)
ask_ok('Do you want to quit?')

Do you want to quit?ghgjhgj
Please try again!
Do you want to quit?no

False

In [17]:
def increament(n):
    return lambda x: x + n
f = increament(42);
f(2)

44

In [24]:
'Harsh'[::-1]

'hsraH'

In [25]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [26]:
fruits.count('apple')

2

In [27]:
fruits.index('pear')

2

In [30]:
fruits.append('mango')

In [31]:
fruits

['orange',
 'apple',
 'pear',
 'banana',
 'kiwi',
 'apple',
 'banana',
 'mango',
 'mango',
 'mango']

In [32]:
fruits.reverse()

In [33]:
fruits

['mango',
 'mango',
 'mango',
 'banana',
 'apple',
 'kiwi',
 'banana',
 'pear',
 'apple',
 'orange']

In [38]:
fruits.sort()
fruits

['apple',
 'apple',
 'banana',
 'banana',
 'kiwi',
 'mango',
 'mango',
 'mango',
 'orange']

In [37]:
fruits.pop()

'pear'

In [39]:
fruits.pop()

'orange'

In [40]:
squares = []
for x in range(10):
    squares.append(x**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
squares = []
for x in range(10):
    squares.append(x**2)
squares = list(map(lambda x: x**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [43]:
import math

In [45]:
from math import pi
print(pi)

3.141592653589793

In [46]:
import sys

In [47]:
sys.path

['C:\\Users\\HP\\Desktop',
 'G:\\Anaconda\\Anaconda Installation\\python37.zip',
 'G:\\Anaconda\\Anaconda Installation\\DLLs',
 'G:\\Anaconda\\Anaconda Installation\\lib',
 'G:\\Anaconda\\Anaconda Installation',
 '',
 'G:\\Anaconda\\Anaconda Installation\\lib\\site-packages',
 'G:\\Anaconda\\Anaconda Installation\\lib\\site-packages\\win32',
 'G:\\Anaconda\\Anaconda Installation\\lib\\site-packages\\win32\\lib',
 'G:\\Anaconda\\Anaconda Installation\\lib\\site-packages\\Pythonwin',
 'G:\\Anaconda\\Anaconda Installation\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\HP\\.ipython']

In [1]:
open('G:\Python\testpython\bubble.py')

OSError: [Errno 22] Invalid argument: 'G:\\Python\testpython\x08ubble.py'

In [5]:
year = 2016
event = 'HarshoMahotsav'
f'Results of the {year} {event}'

'Results of the 2016 HarshoMahotsav'

In [6]:
yes_votes = 42_572_654
no_votes = 43_132_495
percentage = yes_votes / (yes_votes + no_votes)
'{:-9} YES votes  {:2.2%}'.format(yes_votes, percentage)

' 42572654 YES votes  49.67%'

In [7]:
s = 'Harsh'

In [8]:
str(s)

'Harsh'

In [9]:
repr(s)

"'Harsh'"

In [10]:
x = 10 * 3.25
y = 200 * 200
s = 'The value of x is ' + repr(x) + ', and y is ' + repr(y) + '...'
print(s)

The value of x is 32.5, and y is 40000...

In [11]:
hello = 'hello, world\n'
hellos = repr(hello)
print(hellos)

'hello, world\n'

In [12]:
repr((x, y, ('spam', 'eggs')))

"(32.5, 40000, ('spam', 'eggs'))"

In [15]:
import math
print(f'pi value {math.pi:.3f}.')

pi value 3.142.

In [22]:
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 7678}
for name, phone in table.items():
    print(f'{name:10} ==> {phone:10d}')

Sjoerd     ==>       4127
Jack       ==>       4098
Dcab       ==>       7678

In [17]:
print('We are the {} who say "{}!"'.format('knights', 'Ni'))

We are the knights who say "Ni!"

In [19]:
print('{0} and {1}'.format('cakes','eggs'))

cakes and eggs

In [23]:
print('This {food} is {adjective}.'.format(food='spam', adjective='absolutely horrible'))

This spam is absolutely horrible.

In [25]:
print('The story of {0}, {1}, and {other}.'.format('Bill', 'Manfred',other='Georg'))

The story of Bill, Manfred, and Georg.

In [27]:
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 8637678}
print('Jack: {0[Jack]:d}; Sjoerd: {0[Sjoerd]:d}; ''Dcab: {0[Dcab]:d}'.format(table))

Jack: 4098; Sjoerd: 4127; Dcab: 8637678

In [28]:
for x in range(1, 11):
    print('{0:2d} {1:3d} {2:4d}'.format(x, x*x, x*x*x))

 1   1    1
 2   4    8
 3   9   27
 4  16   64
 5  25  125
 6  36  216
 7  49  343
 8  64  512
 9  81  729
10 100 1000

In [29]:
for x in range(1, 11):
    print(repr(x).rjust(2), repr(x*x).rjust(3), end=' ')
    #Note use of 'end' on previous line
    print(repr(x*x*x).rjust(4))

 1   1    1
 2   4    8
 3   9   27
 4  16   64
 5  25  125
 6  36  216
 7  49  343
 8  64  512
 9  81  729
10 100 1000

In [30]:
with open("student.txt",'w', encoding = 'utf-8') as f:
    f.write("Name\t Marks1\t Marks2\t Marks3\t Total\n")
    f.write("Raj\t 35\t 40\t 40\n")
    f.write("Raman\t 50\t 55\t 34\n")
    f.write("Raghav\t 45\t 23\t 67\n")

In [1]:
f = open("student.txt","r")
print(f.read())

Name	 Marks1	 Marks2	 Marks3	 Total
Raj	 35	 40	 40
Raman	 50	 55	 34
Raghav	 45	 23	 67

In [48]:
f = open("student.txt","r")
print(f.readline(2))

Na

In [7]:
import numpy as np
a = np.array([2,3,4])
print(a.dtype)

int32

In [10]:
b = np.array((1.2,3.5,5.1))
b

array([1.2, 3.5, 5.1])

In [12]:
arr1 = np.array([[4, 7], [2, 6]], dtype = np.float64)
arr2 = np.array([[3, 6], [2, 8]], dtype = np.float64) 
Sum = np.add(arr1, arr2)
print("Addition of two arrays: ")
print(Sum)

Addition of two arrays:
[[ 7. 13.]
 [ 4. 14.]]

In [13]:
Trans_arr = arr1.T
print("\nTranspose of Array: ")
print(Trans_arr)

Transpose of Array:
[[4. 2.]
 [7. 6.]]

In [15]:
f = np.arange(0, 30, 5) 
print("\n A sequential array with 10 values between" "0 and 5:\n", f)

 A sequential array with 10 values between0 and 5:
 [ 0  5 10 15 20 25]

In [19]:
 ar = numpy.random.rand(2,3)

NameError: name 'numpy' is not defined

In [1]:
#pandas, there are several ways to create a dataframe, one way is to use a dictionary. for eg
dict = {"country" : ["Brazil","America","Russia","India","China"],
        "capital" : ["Moscow","New Dehli","Beijing","Pretoria","Brasilia"],
        "area" : [8.516, 17.10, 3.286, 9.597, 1.221],
        "population" : [200.4, 143.5, 1252, 1357, 52.98]
       }
import pandas as pd
brics = pd.DataFrame(dict)
print(brics)

   country    capital    area  population
0   Brazil     Moscow   8.516      200.40
1  America  New Dehli  17.100      143.50
2   Russia    Beijing   3.286     1252.00
3    India   Pretoria   9.597     1357.00
4    China   Brasilia   1.221       52.98

In [2]:
#Setting the vrics for brics
brics.index = ["BR","AM","RU","IN","CH"]
print(brics)

    country    capital    area  population
BR   Brazil     Moscow   8.516      200.40
AM  America  New Dehli  17.100      143.50
RU   Russia    Beijing   3.286     1252.00
IN    India   Pretoria   9.597     1357.00
CH    China   Brasilia   1.221       52.98

In [10]:
#Another way to create a Dataframe is by importing a csv file using pandas. 
import pandas as pd
cars = pd.read_csv('cars.csv')
print(cars)

  Unnamed: 0  cars_per_cap        country  drives_right
0         US          8909  United_States          True
1        AUS           731      Australia         False
2        JAP           588          Japan         False
3         IN           234          India         False
4         RU           342         Russia          True

In [16]:
#Indexing DataFrames, There are several ways to index a Pandas DataFrame. One of the easiest ways to do this is by using square bracket notation.
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

#Printing out country column as Pandas Series
print(cars['cars_per_cap'])

#Printing out country column as Pandas DataFrame
print(cars[['cars_per_cap']])

#Printing out DataFrame with country and drives_right columns
print(cars[['cars_per_cap','country']])

Unnamed: 0
US     8909
AUS     731
JAP     588
IN      234
RU      342
Name: cars_per_cap, dtype: int64
            cars_per_cap
Unnamed: 0
US                  8909
AUS                  731
JAP                  588
IN                   234
RU                   342
            cars_per_cap        country
Unnamed: 0
US                  8909  United_States
AUS                  731      Australia
JAP                  588          Japan
IN                   234          India
RU                   342         Russia

In [18]:
#Square brackets can also be used to access observations (rows) from a DataFrame. For example
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

#printing out first 4 data
print(cars[0:4])

# Print out fifth, sixth, and seventh observation
print(cars[4:6])

            cars_per_cap        country  drives_right
Unnamed: 0
US                  8909  United_States          True
AUS                  731      Australia         False
JAP                  588          Japan         False
IN                   234          India         False
            cars_per_cap country  drives_right
Unnamed: 0
RU                   342  Russia          True

In [19]:
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

#loc and iloc
#loc = loc is label-based, which means that you have to specify rows and columns based on their row and column labels.
print(cars.loc[['AUS', 'EG']])

#iloc =  iloc is integer index based, so you have to specify rows and columns by their integer index
print(cars.iloc[2])

G:\Anaconda\Anaconda Installation\lib\site-packages\ipykernel_launcher.py:6: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

            cars_per_cap    country drives_right
Unnamed: 0
AUS                731.0  Australia        False
EG                   NaN        NaN          NaN
cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object

In [21]:
import pandas as pd
cars = pd.read_csv('cars.csv')
cars.head(2)

  Unnamed: 0  cars_per_cap        country  drives_right
0         US          8909  United_States          True
1        AUS           731      Australia         False

In [22]:
cars.tail(2)

  Unnamed: 0  cars_per_cap country  drives_right
3         IN           234   India         False
4         RU           342  Russia          True

In [23]:
cars.index

RangeIndex(start=0, stop=5, step=1)

In [25]:
cars.columns

Index(['Unnamed: 0', 'cars_per_cap', 'country', 'drives_right'], dtype='object')

In [ ]:
cars

In [ ]:
print(cars)

In [ ]:
import pandas as pd
cars = pd.read_csv('cars.csv')
cars.head(2)

In [ ]:
cars.index

In [ ]:
import pandas as pd
edu = pd.read_csv('F:\DA\Takshil\')